# You can run the command 
# "pip install -r requirements.txt"
# this will install all libraries 
# you will need to run th project

Pillow~=8.4.0

tk

ttkthemes

tkhtmlview

shapely

tensorflow

numpy